@import './button.css';
@import './video.css';
@import './wrapper.css';
@import './reproductorVideo.css';
@import './playerActions.css';
@import './progress.css';

:root {
  --primary: #110133;
  --secondary: #240072;
  --white: #ffffff;
}

body {
  margin: 0;
  background-color: var(--primary);
  background-image: radial-gradient(var(--secondary) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}
